<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/home.css">
</head>

<body>
    <div class="nav">
        <span class="title" style="margin-left: 150px;color: rgb(17, 129, 227);">首页</span>
        <span class="title">上传纪要</span>
        <span class="title">疑问反馈</span>
        <span class="title">个人中心</span>
        <span class="triangle"></span>
    </div>
    <div class="banner">
        <ul class="imglist">
            <li><img src="../assets/images/pic1.png" alt=""></li>
            <li><img src="../assets/images/pic2.png" alt=""></li>
            <li><img src="../assets/images/pic3.png" alt=""></li>
            <li><img src="../assets/images/pic4.png" alt=""></li>
            <li><img src="../assets/images/pic1.png" alt=""></li>
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul id="iconlist">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script src="../js/home.js"></script>
</body>

</html>