<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/question.css">
    <link rel="stylesheet" href="../assets/style/init.css">
</head>

<body>
    <div class="question">
        <div class="nav">
            <a href="home.html" class="title" style="margin-left: 150px;">首页</a>
            <a href="update_summary.html" class="title">会议纪要</a>
            <a href="qustion.html" class="title" style="color: rgb(17, 129, 227);">疑问反馈</a>
            <a href="userinfo.html" class="title">个人中心</a>
            <span class="triangle"></span>
        </div>
    </div>
    <div class="content">
        <div class="q_title">请输入你的疑问或者反馈：</div>
        <textarea name="question">&nbsp;</textarea>
        <div class="mt_10"><span class="annex">上传附件：</span><input type="file"></div>
        <div><button class="submit">提交</button>
            <button class="save">保存</button>
        </div>
    </div>
    <div class="record">
        <div class="r_title"><span>提交记录</span></div>
        <ul>
            <li class="q_text">
                最终考核做不完怎么办？
            </li>
            <textarea name="response" value="" disabled>回复：加油！你可以的！不要慌，尽力慢慢做！</textarea>
            <li class="q_text">
                跨域的解决办法？
            </li>
            <textarea name="response" value="" disabled>回复：1.使用中间件cors&nbsp;2.添加响应头</textarea>
        </ul>
        <div class="empty"></div>
    </div>
    <script src="../js/question.js"></script>
    <script src="../js/debounce.js"></script>
</body>

</html>