<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/question.css">
</head>

<body>
    <div class="question">
        <div class="nav">
            <span class="title" style="margin-left: 150px;">首页</span>
            <span class="title">上传纪要</span>
            <span class="title" style="color: rgb(17, 129, 227);">疑问反馈</span>
            <span class="title">个人中心</span>
            <span class="triangle"></span>
        </div>
    </div>
    <div class="content">
        <div class="q_title">请输入你的疑问或者反馈：</div>
        <textarea name="question">&nbsp;</textarea>
        <div class="mt_10"><span class="annex">上传附件：</span><input type="file"></div>
        <div><button class="submit">提交</button>
            <button class="save">保存</button>
        </div>
    </div>
    <div class="record">
        <div class="r_title"><span>提交记录</span></div>
        <ul>
            <li class="q_text">
                最终考核做不完怎么办？
            </li>
            <textarea name="response" value="" disabled>回复：凉拌！</textarea>
            <li class="q_text">
                跨域查完资料还是解决不了怎么办？
            </li>
            <textarea name="response" value="" disabled>回复：问师兄师姐</textarea>
        </ul>
        <div class="empty"></div>
    </div>
</body>

</html>