<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/style/userinfo.css">
    <link rel="stylesheet" href="../assets/style/init.css">
</head>

<body>
    <div class="userinfo">
        <div class="nav">
            <a href="home_manager.html" class="title" style="margin-left: 150px;">首页</a>
            <a href="summary_manager.html" class="title">会议纪要</a>
            <a href="answer_manager.html" class="title">疑问反馈</a>
            <a href="userinfo_manager.html" class="title" style="color: rgb(17, 129, 227);">个人中心</a>
            <span class="triangle"></span>
        </div>
        <div class="content">
            <div class="left">
                <img class="user_pic" src="https://img95.699pic.com/xsj/0f/fa/81.jpg%21/fh/300">
                <div class="username">admin</div>
                <div class="username">管理员</div>
            </div>
            <div class="right">
                <div class="right_user">
                    <div class="r_title"><span>个人信息</span></div>
                    <div class="userinfo_text"><i>*</i><span>用户名</span><span class="text_box"><input type="text"
                                value="manager" disabled></span></div>
                    <div class="userinfo_text"><i>*</i><span>密码</span><span class="text_box"><input type="password"
                                value="123"></span></div>
                    <div class="userinfo_text"><i>*</i><span>昵称</span><span class="text_box"><input type="text"></span>
                    </div>
                    <div class="userinfo_text"><i>*</i><span>邮箱</span><span class="text_box"><input type="email"></span>
                    </div>
                    <div class="userinfo_text"><i>*</i><span>身份</span><input type="radio" name="identity"
                            value="manager" class="choices" checked="checked"><em>管理员</em><input type="radio"
                            name="identity" value="member" class="choices" style="margin-left: 30px;"
                            disabled><em>普通用户</em>
                    </div>
                    <div class="userinfo_text add_p"><i>*</i><span>头像</span>
                        <div class="add">
                            <img src="https://img95.699pic.com/xsj/0f/fa/81.jpg%21/fh/300" class="add_pic">
                            <input type="file" id="files">
                            <button class="cancel">取消上传</button>
                        </div>
                    </div>
                    <button class="save">保存</button>
                </div>
            </div>
        </div>
        <script src="../js/userinfo.js"></script>
        <script src="../js/debounce.js"></script>
</body>

</html>